<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<body>
  <div id="game-container" class="container">
    <canvas
    id="myCanvas"
  >
    Your browser does not support the canvas element.
  </canvas>
</div>
</body>
</html>
